html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  height: 60px; /* TODO: */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

#nineties {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
}